body{
    margin: 0;
    padding: 0;
    background: #76BCBC;
}
.cup{
    color: #fff;
    font-size: 80px;
    position: absolute;
    transition: 2s all;
}
.left{
    left: calc(30% - 40px);
    top: calc(50% - 40px);
}
.center{
    font-size: 400px;
    left: calc(50% - 200px);
    top: calc(50% - 200px);

}
.right{
    left: calc(70% - 40px);
    top: calc(50% - 40px);
}