:root{
    --ok: #5e8a37fd;
    --error: #c73636;
    --wait: #ffc44e;
    --grayscaleAmount: 60%;
}
form{
    display: block;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background: #13262F;
    font-family: 'Dosis', sans-serif;
    box-sizing: border-box;
}
#optionBox{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: space-between;
    justify-content: center;
}
.option{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.3%;
    height: 100%;
    border: 1vw solid white;
    border-radius: 3%;
    filter: grayscale(var(--grayscaleAmount));
    /* pointer-events: none; */
}
label[for='ok']{
    border-color: var(--ok);
    color: var(--ok);
}
label[for='wait']{
    border-color: var(--wait);
    color: var(--wait);
}
label[for='error']{
    border-color: var(--error);
    color: var(--error);
}
.cup{
    cursor: pointer;
    font-size: 25vw;
    padding: 50px;
}
#optionBox > input[type='radio']{
    display: none;
}

#optionBox > input[type=radio]:checked + label{
    filter: grayscale(0);
}







